@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');

* {

    font-family: "Sansation", sans-serif;
}

body {
    background-color: #F5F5F5;
    /* Light gray background */
    color: #333333;
    /* Dark gray text */
    font-family: "Sansation", sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: #874caf;
    /* Primary green */
    color: #FFFFFF;
    /* White text */
    border-radius: 10px;
    flex-wrap: wrap;
    position: relative;
}

h1 {
    margin: 0 auto;
    white-space: nowrap;
    /* Prevent wrapping */
    overflow: hidden;
    /* Hide overflowing text */
    border-left: 2px solid #FFC107;
    animation: blink 0.5s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #f1f1f1;

}

li a {
    display: block;
    color: #333333;
    /* Dark gray links */
    padding: 8px 16px;
    text-decoration: none;

}

/* Change the link color on hover */
li a:hover {
    background-color: #FFC107;
    /* Amber hover effect */
    color: #FFFFFF;
    /* White text on hover */
}

.hamburger {
    font-size: 30px;
    /* Default size for larger screens */
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    /* Ensure it's a square */
    margin: 10px;
    margin-left: 40px;
    z-index: 1001;
    /* Ensure it stays above other elements */
    position: relative;
    /* Default position */
    color: #FFFFFF;
    /* White icon for visibility */
}

.hamburger:hover {
    color: #333333;
}

.hamburger.active {
    color: #333333;
}

.menu-nav {
    display: none;
    position: absolute;
    top: 70px;
    left: 23px;
    width: auto;
    background-color: #FFFFFF;
    /* White background for the menu */
    border: 1px solid #E0E0E0;
    /* Light gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.menu-nav.active {
    display: block;
    background-color: #874caf;
    /* Primary green for active menu */
    color: #FFFFFF;
    /* White text */
}


.menu-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.menu-card {
    width: 27%;
    height: 25%;
    margin: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    /* White card background */
    border: 1px solid #E0E0E0;
    /* Light gray border */
    color: #333333;
    /* Dark gray text */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 300ms ease-in-out;
    display: flex;
    /* Use flexbox for better alignment */
    flex-direction: column;
    /* Stack content vertically */
    justify-content: space-between;
    /* Space out content */
    overflow: hidden;
    /* Prevent content from overflowing */
    text-align: center;
    /* Center-align text inside the card */

}

/* Blur all cards when the parent has the 'hovered' class */
.menu-cards.hovered .menu-card {
    filter: blur(1px);
    opacity: 0.5;
    transform: scale(1);
}

/* the hovered card stands out */
.menu-cards.hovered .menu-card:hover {
    filter: none;
    opacity: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow on hover */
    transform: scale(1);
    /* Slight zoom effect */
    cursor: pointer;
    background-color: none;
}

.menu-card img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    /* Adjust the ratio as needed */
    object-fit: cover;
    /* Ensure the image fills the container */
    border-radius: 5px;
}

.menu-card h2 {
    margin: 10px;
    /* Remove default margin */
    font-size: 1.5rem;
    color: #874caf;
    /* Primary green for headings */
    /* Adjust font size for readability */
    line-height: 1.2;
    /* Set a readable text color */
    word-wrap: break-word;
    /* Ensure long words break to fit inside the card */
}

.menu-card p {
    margin: 10px 0 0;
    /* Add spacing between text and other elements */
    font-size: 1rem;
    /* Adjust font size for readability */
    line-height: 1.5;
    color: #666666;
    /* Medium gray for descriptions */
    /* Set a readable text color */
    word-wrap: break-word;
    /* Ensure long words break to fit inside the card */
}


.flip-card {
    background-color: transparent;
    width: auto;
    height: 280px;
    perspective: 1000px;

}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back,
.breakfast-flip-card-back,
.syrian-flip-card-back {
    position: absolute;
    width: auto;
    height: auto;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-front {

    background-color: #FFFFFF;
    /* White background for the front */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

}

.flip-card-front img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    /* Adjust the ratio as needed */
    object-fit: cover;
    /* Ensure the image fills the container */
    border-radius: 5px;
}

.flip-card-back {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform: rotateY(180deg);
    /* Position the back side */
    background-color: #874caf;
    color: #FFFFFF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    /*scrollbar*/
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #FFC107 #874caf;
    padding-top: 25px;
}

.flip-card-back::-webkit-scrollbar {
    width: 4px;
}

.flip-card-back::-webkit-scrollbar-thumb {
    background: #FFC107;
    border-radius: 10px;
}

.flip-card-back ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* Full width for the list */
    height: auto;
    /* Auto height for the list */
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.flip-card-back ul li {

    /* Add spacing between items */
    font-size: 0.85rem;
    /* Adjust font size */
    color: #FFFFFF;
    /* White text for dark background */
    text-align: center;
    /* Align text to the left */
    background-color: #874caf;
    display: flex;

}

.flip-card-back span {
    font-weight: bold;
    width: 50%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
}

.flip-card-back h3 {

    margin: 1px;
    /* Add spacing below the heading */
}

.pizza-table {
    display: flex;
    justify-content: flex-start;
}

.pizza-table th {

    background-color: #FFC107;
    /* Amber background for headers */
    color: #FFFFFF;
    /* White text */
    padding: 1px 5px;
    /* Add padding inside the headers */
    text-align: left;
    /* Align text to the left */
    font-weight: bold;
    /* Make the text bold */
    border-radius: 10px;
    /* Add a border around the headers */
}

.pizza-list span {
    width: 31%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
}

.pizza-list h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.pizza-extras span {
    width: 25%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
}

.pizza-extras h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.pasta-table {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.pasta-table th {

    background-color: #FFC107;
    /* Amber background for headers */
    color: #FFFFFF;
    /* White text */
    padding: 1px 8px;
    /* Add padding inside the headers */
    text-align: center;
    /* Align text to the left */
    font-weight: bold;
    /* Make the text bold */
    border-radius: 10px;
    /* Add a border around the headers */
}

.pasta-list span {
    width: 60%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 2;
}

.pasta-list h4 {
    font-weight: bold;
    font-size: 1rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.breakfast-flip-card-back {
    width: 290px;
    height: 245px;
    transform: rotateY(180deg);
    /* Position the back side */
    background-color: #874caf;
    color: #FFFFFF;
    transform: rotateY(180deg);
    padding: 20px 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    /*scrollbar*/
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #FFC107 #874caf;
}

.flip-card-back::-webkit-scrollbar {
    width: 8px;
}

.flip-card-back::-webkit-scrollbar-thumb {
    background: #FFC107;
    border-radius: 10px;
}


.breakfast-flip-card-back ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* Full width for the list */
    height: auto;
    /* Auto height for the list */
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.breakfast-flip-card-back ul li {

    /* Add spacing between items */
    font-size: 0.85rem;
    /* Adjust font size */
    color: #FFFFFF;
    /* White text for dark background */
    text-align: center;
    /* Align text to the left */
    background-color: #874caf;
    display: flex;
    margin: -1px 0px;
    padding: 0.5px;
}

.breakfast-flip-card-back span {
    font-weight: bold;
    width: 5%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 2;
    margin: 0 15px;
}

.breakfast-flip-card-back h3 {

    margin: 1px;
    /* Add spacing below the heading */
}

.breakfast-flip-card-back ul li::before {
    /* Amber color for the bullet */
    margin-right: 10px;
    /* Add spacing after the bullet */
}

.flip-card-back ul li::before {
    /* Amber color for the bullet */
    margin-right: 10px;
    /* Add spacing after the bullet */
}

.breakfast-table {
    display: flex;
    justify-content: flex-start;
    margin: 0 8px;
}

.breakfast-table th {

    background-color: #FFC107;
    /* Amber background for headers */
    color: #FFFFFF;
    /* White text */
    padding: 1px 7px;
    /* Add padding inside the headers */
    text-align: left;
    /* Align text to the left */
    font-weight: bold;
    /* Make the text bold */
    border-radius: 10px;
    /* Add a border around the headers */
}

.breakfast-list span {
    width: 5%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 2;
    margin: 0 17px;
}

.breakfast-list h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.syrian-flip-card-back {
    width: 290px;
    height: 245px;
    transform: rotateY(180deg);
    /* Position the back side */
    background-color: #874caf;
    color: #FFFFFF;
    transform: rotateY(180deg);
    padding: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin: -5px 0;
    /*scrollbar*/
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #FFC107 #874caf;
}

.flip-card-back::-webkit-scrollbar {
    width: 8px;
}

.flip-card-back::-webkit-scrollbar-thumb {
    background: #FFC107;
    border-radius: 10px;
}


.syrian-flip-card-back ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    /* Full width for the list */
    height: auto;
    /* Auto height for the list */
    list-style-type: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
    margin: 0;
    /* Remove default margin */
}

.syrian-flip-card-back ul li {

    /* Add spacing between items */
    font-size: 0.85rem;
    /* Adjust font size */
    color: #FFFFFF;
    /* White text for dark background */
    text-align: center;
    /* Align text to the left */
    background-color: #874caf;
    display: flex;
}

.syrian-flip-card-back span {
    font-weight: bold;
    width: 50%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    font-size: 0.8rem;
}

.syrian-flip-card-back h3 {

    margin: -2px;
    /* Add spacing below the heading */
}

.syrian-flip-card-back ul li::before {
    /* Amber color for the bullet */
    margin-right: 10px;
    /* Add spacing after the bullet */
}

.syrian-table {
    display: flex;
    justify-content: flex-start;
    margin: 0 3px;
}

.syrian-table th {

    background-color: #FFC107;
    /* Amber background for headers */
    color: #FFFFFF;
    /* White text */
    padding: 1px 5px;
    /* Add padding inside the headers */
    text-align: left;
    /* Align text to the left */
    font-weight: bold;
    /* Make the text bold */
    border-radius: 10px;
    /* Add a border around the headers */
    font-size: small;
}

.syrian-list span {
    width: 35%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    font-size: 0.8 rem;
}

.syrian-list h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.syrian-extras span {
    width: 25%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
}

.syrian-extras h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.sandwich-table {
    display: flex;
    justify-content: flex-start;
    margin: 1px 2px;
}

.sandwich-table th {

    background-color: #FFC107;
    /* Amber background for headers */
    color: #FFFFFF;
    /* White text */
    padding: 1px 7px;
    /* Add padding inside the headers */
    text-align: left;
    /* Align text to the left */
    font-weight: bold;
    /* Make the text bold */
    border-radius: 10px;
    /* Add a border around the headers */
    font-size: small;
}

.sandwich-list span {
    width: 31%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    font-size: 0.8rem;
}

.sandwich-list h4 {
    font-weight: bold;
    font-size: 0.8rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.burger-table {
    display: flex;
    justify-content: flex-start;
    margin: 5px 6px;
}

.burger-table th {

    background-color: #FFC107;
    /* Amber background for headers */
    color: #FFFFFF;
    /* White text */
    padding: 2px 7px;
    /* Add padding inside the headers */
    text-align: left;
    /* Align text to the left */
    font-weight: bold;
    /* Make the text bold */
    border-radius: 10px;
    /* Add a border around the headers */
    font-size: smaller;
}

.burger-list span {
    width: 45%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    padding: 5px 2px;
}

.burger-list h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 150%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.meals-list span {
    width: 31%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
}

.meals-list h4 {
    font-weight: bold;
    font-size: 0.85rem;
    width: 100%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 2px;
    display: flex;
    justify-content: flex-end;
}

.Hawawshi-list span {
    width: 30%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    font-size: 1rem;
    margin: 10px;
}

.Hawawshi-list h4 {
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.drinks-list span {
    width: 30%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    margin: 2px;
}

.drinks-list h4 {
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: flex;
    justify-content: flex-end;
    margin: 2px;
}

.desserts-list span {
    width: 30%;
    /* Set width for the span */
    font-weight: bold;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    display: inline;
    align-items: center;
    columns: 1;
    margin: 5px;
}

.desserts-list h4 {
    font-weight: bold;
    font-size: 1rem;
    width: 100%;
    /* Bold text for emphasis */
    color: #FFC107;
    /* Amber color for emphasis */
    margin: 5px;
    display: flex;
    justify-content: flex-end;
}

button {
    background-color: #874caf;
    /* Primary green */
    color: #FFFFFF;
    /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #733a98;
    /* Darker green on hover */
}

button:focus {
    outline: 2px solid #FFC107;
    /* Amber outline for focus */
    outline-offset: 2px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    padding: 10px;
    background-color: #874caf;
    /* Primary green */
    color: #FFFFFF;
    /* White text */
    border-radius: 10px;
    font-family: "Sansation", sans-serif;
    flex-wrap: wrap;
    position: relative;
}

.social-media {
    display: flex;
    /* Enable Flexbox */
    justify-content: space-around;
    /* Space icons evenly around the container */
    align-items: center;
    /* Align icons vertically in the center */
    margin: 30px;
    /* Add spacing around the container */
    gap: 20px;
}

.contact-info a {
    text-decoration: none;
    /* Remove underline from links */
    color: #FFFFFF;
    /* White color for icons */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
    letter-spacing: 1px;
}

.contact-info a:hover {
    color: #FFC107;
    /* Amber color on hover */
}

.social-media a {
    text-decoration: none;
    /* Remove underline from links */
    font-size: 1.5rem;
    /* Adjust icon size */
    color: #FFFFFF;
    /* White color for icons */
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */

}

.fa-facebook:hover {
    color: #3d5b99;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-instagram:hover {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    /* Gradient background */
    background-clip: text;
    -webkit-background-clip: text;
    /* Clip the background to the text */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent */
    transition: background 0.3s ease;
    /* Smooth transition for hover effect */
}

.fa-whatsapp:hover {
    color: #25d366;
}

.fa-phone:hover {
    color: #030c0e;
}

/* Responsive styles for smaller screens */

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .hamburger {
        font-size: 28px;
        /* Slightly smaller for tablets */
        align-self: flex-start;
        /* Align to the top-left */
        margin: 10px 0 10px 10px;
        /* Adjust margins for better spacing */
        position: absolute;
        /* Position it absolutely within the header */
        top: 10px;
        /* Position it near the top */
        left: 10px;
        /* Position it near the left */
    }

    .menu-nav {
        width: auto;
        left: 0;
        top: 122px;
    }

    .menu-card {
        width: 100%;
        height: 100%;
    }

    .flip-card-back {
        width: 100%;
        height: auto;
        /* Adjust height for smaller screens */
    }
}

@media (max-width: 480px) {
    .header-container {
        flex-direction: column;
        align-items: center;

    }

    h1 {
        height: 50px;
        padding-top: 10px;
        word-break: break-word;
        /* Breaks long words if they exceed the container width */
        overflow-wrap: break-word;
        /* Ensures long words break to fit within the container */
    }

    .menu-card {
        width: 100%;
        height: 100%;
    }

    .menu-card img {
        height: auto;
        aspect-ratio: 16 / 9;
    }

    .menu-card h2 {
        font-size: 1.2rem;
        /* Adjust font size for smaller screens */
    }

    .menu-card p {
        font-size: 0.9rem;
        /* Adjust font size for smaller screens */
    }

    .flip-card-back {
        width: 100%;
        height: auto;
        /* Adjust height for smaller screens */
    }

    .hamburger {
        font-size: 24px;
        /* Smaller size for small screens */
        margin: 5px;
        /* Reduce margins for smaller screens */
        top: 5px;
        /* Adjust top position */
        left: 5px;
        /* Adjust left position */
    }

}